@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  font-family: 'PT Sans', sans-serif;
  font-size: 15px;
  line-height: 2em;
  padding: 80px 90px;
}
h1 {
  font-size: 30px
}
h2 {
  font-size: 26px
}
h3 {
  font-size: 24px
}
h4 {
  font-size: 22px
}
h5 {
  font-size: 21px;
  color: #999
}
h6 {
  font-size: 20px
}
h1,h2,h3,h4 {
  font-weight: 700;
  margin-bottom: 1em;
}
p {
  margin-bottom: 1em;
}
ul {
  list-style: disc;
  padding-left: 30px;
  margin-bottom: 1em;
}

li {
  margin-bottom: 40px;
}

.content {
  width: 500px;
  margin: 0 auto;
}

.image img {
  width: 100%;
}

.image {
  margin: 0 auto 90px auto;
  width: 1020px;
}

  blockquote {
  border-left: 3px solid #222;
  padding-left: 17px;
  font-style: italic;
  margin-left: -20px;
  }
